#one{
    background-color: black;
    color: white;
    height: 50px;
    position: static;
    text-decoration: none;
    top: 0px;
    text-align: center;
    margin-right: 30px;
    padding-top: 10px;

}
#two{
    background-color: grey;
    color: white;
    height: 30px;
    position: static;
    text-decoration: none;
    top: 0px;
    text-align: center;
    margin-right: 30px;
    padding-top: 10px;
}

button{
    background-color: orange;
    color: white;
}

#amazon-link{
    color: orange;
}

a{
    color: white;
    text-decoration: none;
    margin: 100px;
    
}

#footer{
    display: block;
    background-color: rgb(47, 49, 83);
    position: static;
    bottom: 0px;
    width: 100%;
    color: white;
    font-weight: bold;
    height: 160px;
    text-align: center;
    
}
li{
    text-decoration: none;
    color: white;
}
#footer1{
    display: inline-block;
    text-decoration: none;
    font-weight: normal;
    margin-right: 5px;
    padding-top: 40px;

}
#footer2{
    display: inline-block;
    text-decoration: none;
    font-weight: normal;
    margin-right: 5px;
    
}
#footer3{
    display: inline-block;
    text-decoration: none;
    font-weight: normal;
    margin-right: 5px;
}
#footer4{
    display: inline-block;
    text-decoration: none;
    font-weight: normal;
    margin-right: 5px;
}

img{
    margin-right: 10px;
    padding: 0px;
    margin-bottom: 30px;

}
img:hover{
    border: 5px solid black;
    transition-duration: 1s;
    transform: scale(1.1);
}

#FreedomSale{
    color: black;
    margin: 0px;

}.both{
    display: flex;
}

#side{
    flex-direction: rows;
    justify-content: flexstart;
    width: 900px;
    border-right: 2px solid rgba(228, 240, 237, 0.603);
    padding-right: 20px;
}
#products{
    padding-left: 20px;
}